n8n-workflows/telegram-ai-bridge.json
{
  "name": "Raven - Telegram AI Bridge",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"]
      },
      "name": "Telegram Bot Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "telegram-raven-bot",
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"message\"][\"text\"]}}",
              "operation": "startsWith",
              "value2": "/ask"
            }
          ]
        }
      },
      "name": "Is Ask Command",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract question from /ask command\nconst message = $input.item.json.message.text;\nconst question = message.replace('/ask', '').trim();\n\nreturn {\n  question: question,\n  user_id: $input.item.json.message.from.id,\n  username: $input.item.json.message.from.username,\n  chat_id: $input.item.json.message.chat.id\n};"
      },
      "name": "Extract Question",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "claude-sonnet-4"
            },
            {
              "name": "max_tokens",
              "value": "4096"
            },
            {
              "name": "system",
              "value": "You are Raven, an AI assistant helping with code questions via Telegram. Be concise and helpful."
            },
            {
              "name": "messages",
              "value": "=[{\"role\": \"user\", \"content\": \"{{$json[\"question\"]}}\"}]"
            }
          ]
        },
        "options": {}
      },
      "name": "Ask Claude AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [850, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "2",
          "name": "Anthropic API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract AI response\nconst response = $input.item.json.content[0].text;\n\nreturn {\n  response: response,\n  chat_id: $node[\"Extract Question\"].json.chat_id\n};"
      },
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "chatId": "={{$json[\"chat_id\"]}}",
        "text": "💡 {{$json[\"response\"]}}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "name": "Send Response",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1250, 200],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"message\"][\"text\"]}}",
              "operation": "startsWith",
              "value2": "/git"
            }
          ]
        }
      },
      "name": "Is Git Command",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 400]
    },
    {
      "parameters": {
        "jsCode": "// Extract git command\nconst message = $input.item.json.message.text;\nconst gitCommand = message.replace('/git', '').trim();\n\nreturn {\n  command: `cd /workspace && git ${gitCommand}`,\n  chat_id: $input.item.json.message.chat.id\n};"
      },
      "name": "Prepare Git Command",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 400]
    },
    {
      "parameters": {
        "command": "={{$json[\"command\"]}}"
      },
      "name": "Execute Git Command",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1050, 400]
    },
    {
      "parameters": {
        "chatId": "={{$json[\"chat_id\"]}}",
        "text": "```\n{{$node[\"Execute Git Command\"].json.stdout}}\n```",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "name": "Send Git Result",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1250, 400],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{$json[\"message\"][\"chat\"][\"id\"]}}",
        "text": "⚡ Processing your request...",
        "additionalFields": {}
      },
      "name": "Send Typing Indicator",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [450, 150],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot API"
        }
      }
    }
  ],
  "connections": {
    "Telegram Bot Trigger": {
      "main": [
        [
          {
            "node": "Send Typing Indicator",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is Ask Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Ask Command": {
      "main": [
        [
          {
            "node": "Extract Question",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Git Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Question": {
      "main": [
        [
          {
            "node": "Ask Claude AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ask Claude AI": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Git Command": {
      "main": [
        [
          {
            "node": "Prepare Git Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Git Command": {
      "main": [
        [
          {
            "node": "Execute Git Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Git Command": {
      "main": [
        [
          {
            "node": "Send Git Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-01T00:00:00.000Z",
  "versionId": "1"
}
